include README.md
include LICENSE
include VERSION
include PKG-INFO
include setup.cfg
recursive-include lsl *
recursive-include docs *
recursive-include tests *
prune tests/data/extended
exclude tests/.coverage tests/coverage.xml
recursive-include scripts *
global-exclude *~ *.bak *.py[cod] __pycache__ *.o *.a *.d *.so *.dylib

