include README.md
include LICENSE
include VERSION
include PKG-INFO
include setup.cfg
recursive-include lsl *
recursive-include doc *
recursive-include tests *
recursive-include scripts *
global-exclude *~ *.bak *.pyc *.o *.d

