----------------------------------------------------------------------
README file for $package package.

$$Id: README.template 169 2007-02-22 20:00:54Z dwood $$
----------------------------------------------------------------------


----------------------------------------------------------------------
DESCRIPTION
----------------------------------------------------------------------


----------------------------------------------------------------------  
INSTALLATION
---------------------------------------------------------------------- 


----------------------------------------------------------------------  
UNIT TESTS
----------------------------------------------------------------------


----------------------------------------------------------------------  
RELEASE NOTES
---------------------------------------------------------------------- 

